@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

body {
background-image: linear-gradient(#FDC4DD, #47165E);
  margin: 0 10%;
  font-family: serif;
}
 h1 {
  text-align: center;
  font-family: cabin;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #57b1dc;
  margin-top: 30px;
}
h2 {
font-family: Solway;  
color: #DE5B9A;
  font-size: 1em;
}
body {
   font-family: Nunito
}

a {
  text-decoration: none;
}
a:link {
           color: #FB4B4E;
}
a:visited {
	color: #7C0B2B;
}
a:focus, a:hover {
	color: #FB4B4E;
	background-color: ##FF0000;
}
a:active {
	color: #DC0408;
	background-color: #8C0305;
}
