
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css?family=courgette&display=swap');

body {
  font-family: kalam;
  font-size: 1.25em;
  line-height: 125%;
  margin: 0 15% 0;
text-align: center;
background: #491155 url(summoncircle.png)
no-repeat center 75px fixed;
  margin: 0 10%;
}

 h1 {
  text-align: center;
  font-size: 2em;
  font-family: cursive;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #57b1dc;
  margin-top: 30px;
}
h2 {
  color: #27001E;
  font-size: 1.8em;
}

h3 {
  color: #BD0F0F;
  font-size: 2.5em;
}

footer {
 border-top: 1px solid #57b1dc;
 text-align: center;
 padding-top: 1em;
}
footer img {
 width: 40px; 
 height: 40px; 
 margin-left: .5em;
 margin-right: .5em;
}

a {
  text-decoration: none;
}
a:link {
           color: #E07BE0;
}
a:visited {
	color: #7646A3;
}
a:focus, a:hover {
	color: #FA003F;
}
a:active {
	color: #DC0408;
	background-color: #8C0305;
}